*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  font-size: 100%;
  list-style-type: none;
  font-family: "Nunito", sans-serif;
  color: white;
}

header {
  padding-top: 20px;
  font-size: 14px;
  .headerLogo {
    width: 260px;
    padding-right: 10px;
    z-index: 999;
  }
  #navTop a {
    color: white;
    font-weight: bold;
    &:hover {
      color: rgb(240, 240, 240);
    }
  }
}

.footer {
  background-color: black;
  footer {
    font-size: 14px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
  }
}

.container00 {
  min-height: 100vh;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container000 {
  min-height: 140vh;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 406px) {
  .headerLogo {
    width: 90px;
  }
}
